In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import Series,DataFrame
import json
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

import plotly.graph_objects as go

In [6]:
# Import the data from a Json file

with open('C:/Users/niveatha/onedrive/Niv/Spotify/StreamingHistory0.json', encoding='utf8') as f:
    data = json.load(f)

print(data[:5])

[{'endTime': '2019-09-14 04:29', 'artistName': 'Sid Sriram', 'trackName': 'Inkem Inkem Inkem Kaavaale', 'msPlayed': 23730}, {'endTime': '2019-09-15 03:47', 'artistName': 'Sabrina Carpenter', 'trackName': 'In My Bed', 'msPlayed': 13467}, {'endTime': '2019-09-15 03:52', 'artistName': 'Emile Haynie', 'trackName': 'Wait For Life', 'msPlayed': 292280}, {'endTime': '2019-09-15 03:54', 'artistName': '5 Seconds of Summer', 'trackName': 'Teeth', 'msPlayed': 10588}, {'endTime': '2019-09-15 03:58', 'artistName': 'Pradeep', 'trackName': 'Aasai Oru Pulveli', 'msPlayed': 230268}]

In [7]:
# Convert from JSON to a data frame

df1 = pd.DataFrame()

def extract_json_value(column_name):
    
    return [i[column_name] for i in data]

df1['artist_name'] = extract_json_value('artistName')
df1['end_time'] = extract_json_value('endTime')
df1['ms_played'] = extract_json_value('msPlayed')
df1['track_name'] = extract_json_value('trackName')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4754 entries, 0 to 4753
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   artist_name  4754 non-null   object
 1   end_time     4754 non-null   object
 2   ms_played    4754 non-null   int64
 3   track_name   4754 non-null   object
dtypes: int64(1), object(3)
memory usage: 148.7+ KB

In [9]:
df1

,artist_name,end_time,ms_played,track_name
0,Sid Sriram,2019-09-14 04:29,23730,Inkem Inkem Inkem Kaavaale
1,Sabrina Carpenter,2019-09-15 03:47,13467,In My Bed
2,Emile Haynie,2019-09-15 03:52,292280,Wait For Life
3,5 Seconds of Summer,2019-09-15 03:54,10588,Teeth
4,Pradeep,2019-09-15 03:58,230268,Aasai Oru Pulveli
...,...,...,...,...
4749,A.R. Rahman,2020-09-14 15:17,70880,Innum Konjam Naeram
4750,A.R. Rahman,2020-09-15 15:12,9090,Azhagiye
4751,A.R. Rahman,2020-09-15 15:12,54642,Innum Konjam Naeram
4752,A.R. Rahman,2020-09-15 15:16,243360,Khulke Jeene Ka
4753,L. V. Revanth,2020-09-15 15:20,252286,Telisiney Na Nuvvey